.sitenotfound {
  position: fixed;
  z-index: 1;
  margin-top: 1%;
  color: red;
  background-color: black;
  padding: 200px 60px;
  margin-right: 40%;

}


button.login {
  border: 1px solid;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  margin-top: 14.5%;
  margin-right: 35%;
  margin-left: 18%;
  padding: 5px 54px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}
.login:focus {
  animation: mymove 2s infinite alternate;

}

.input {
  border: 1px solid;
  border-radius: 6px;
  margin: 1px 1px 20px 1px;
  padding: 15px 50px;
  text-align: left;
  
}
@keyframes mymove {
  from {box-shadow: 0px 0px 10px 0px rgba(153, 0, 255, 1);}
  to {box-shadow: 0px 0px 10px 0px rgba(242, 12, 12, 1);}
}

@keyframes mymove {
  to {box-shadow: 0px 0px 10px 0px rgba(242, 12, 12, 1);}
  from {box-shadow: 0px 0px 10px 0px rgba(153, 0, 255, 1);}
}

.input:focus {
  box-shadow: 0px 0px 10px 0px rgba(153, 0, 255, 1);
  animation: mymove 5s;
  position: relative;

}


  .wraper {
    position: fixed;
    margin-top: 0%;
    margin-left: 5%;
  }

  .img {
    width: 50%;
    height: 50%; 
    margin-left: 0.5%;
    animation: muve 60s;
    position: relative;
    display: inline;
  }

  .img:focus {
   
  }

  @keyframes muve {
    from {top: 0px;}
    to {right: 50px}
  }
